$pc-s:1280px;
$ipad-l :1024px;
$ipad-s:768px;
$phone-l:414px;
$phone-m:375px;
$phone-s:320px;

@mixin  pc-s {
    @media all and (max-width: $pc-s) {
        @content;
    }
}
@mixin  ipad-l {
    @media all and (max-width: $ipad-l) {
        @content;
    }
}
@mixin  ipad-s {
    @media all and (max-width: $ipad-s) {
        @content;
    }
}
@mixin  phone-l {
    @media all and (max-width: $phone-l) {
        @content;
    }
}
@mixin  phone-m {
    @media all and (max-width: $phone-m) {
        @content;
    }
}
@mixin  phone-s {
    @media all and (max-width: $phone-s) {
        @content;
    }
}
